{% extends 'base/base.html'%}
{% block title %} Ingresar Notas {% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

<div class="offset-2 col-8">
  <form id="formEvaluacion" method="POST" style="padding-top: 150px;">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10 col-md-offset-3">
              <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input class="form-control" type="text" name="username">
              </div>            
            </div>
          </div> 
        
          <div class="row">
            <div class="col-md-10 col-md-offset-3">
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input class="form-control" type="password" name="password">
              </div>
              
            </div>
          </div> 
        
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Ingresar">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
   

  </form>
</div>
{% endblock %}