{% extends 'base/base.html'%}
{% block title %} Agregar Evaluacion {% endblock %}
{% block act_inicio %}{% endblock %}
{% block act_evaluaciones %}active{% endblock %}
{% block content %}
<br>
       
<div class="row justify-content-center">
    <div id="msmSeleccionar" class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" id="closeMsg" aria-label="close">&times;</button>
        <b class="alertMsg">Atencion!</b> Seleccione el periodo y la actividad para cargar el formulario.
    </div>
</div>

{%if porcentajePasado and porcentajeRestante %}
    <div class="row justify-content-center">
        <div class="alert alert-warning col-6 col-md-8" style="text-align: center; margin-top: 100px;margin-bottom: 30px; font-size: 1.5em;">
          <strong>Atención!</strong> Sobrepaso el maximo del porcentaje establecido,
          {{ porcentajeRestante }}% es el porcentaje restante para la actividad correspondiente.
        </div>
      </div>
        <h4 style="text-align: center; padding-bottom: 350px;"><a href="{% url 'agregarEvaluacion' %}">Regresar</a></h4>
{% else %}
    {% if exitoGuardarSubAct %}
         <div class="row justify-content-center">
          <div class="alert alert-success col-6 col-md-8" style="text-align: center; margin-top: 100px;margin-bottom: 30px; font-size: 1.5em;">
            <strong>Petición finalizada: </strong> {{ exitoGuardarSubAct }}
          </div>
        </div>
          <h4 style="text-align: center; padding-bottom: 350px;"><a href="{% url 'agregarEvaluacion' %}">Seguir</a></h4>
    {% else %}
        {% if maximoSubActs or periodoFinalizado %}
            {% if maximoSubActs %}
              <div class="row justify-content-center">
                <div class="alert alert-warning col-6 col-md-8" style="text-align: center; margin-top: 100px;margin-bottom: 30px; font-size: 1.5em;">
                  <strong>Atención!</strong> Ya no se pueden agregar mas sub-actividades a esta actividad.
                </div>
              </div>
                <h4 style="text-align: center; padding-bottom: 350px;"><a href="{% url 'agregarEvaluacion' %}">Regresar</a></h4>
            {% else %}
                <div class="row justify-content-center">
                    <div class="alert alert-warning col-6 col-md-8" style="text-align: center; margin-top: 100px;margin-bottom: 30px; font-size: 1.5em;">
                      <strong>Atención!</strong> El periodo ha finalizado, no se pueden agregar mas evaluaciones.
                    </div>
                </div>
                    <h4 style="text-align: center; padding-bottom: 350px;"><a href="{% url 'agregarEvaluacion' %}">Regresar</a></h4>
            {% endif %}
        {% else %}
            {% if not formSubActividad and not porcentajeJusto %}
            <div id="indicacion" class="alert alert-info alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Indicación:</strong> Seleccione el periodo y la actividad a la cual desea agregar una evaluación.
            </div>
                {% if periodos_acts and periodos %}
                    <form name="formClasificacion" method="POST">
                        {% csrf_token %}
                            
                            <table id="frmAgregarEva">
                                <tr class="trAgregarEva">
                                    <td class="tdAgregarEva">Seleccione el periodo:&nbsp;</td> 
                                    <td class="tdAgregarEva"><input type="radio" name="periodo" value="{{ periodos.0.codigo_periodo }}"> <b>Periodo 1&nbsp;</b></td>
                                    <td class="tdAgregarEva"><input type="radio" name="periodo" value="{{ periodos.1.codigo_periodo }}"> <b>Periodo 2&nbsp;</b></td> 
                                    <td class="tdAgregarEva"><input type="radio" name="periodo" value="{{ periodos.2.codigo_periodo }}"> <b>Periodo 3&nbsp;</b></td> 
                                    <td class="tdAgregarEva"><input type="radio" name="periodo" value="{{ periodos.3.codigo_periodo }}"> <b>Periodo 4&nbsp;</b></td>
                                </tr>
                                <tr id="info" class="trAgregarEva"></tr>
                            </table>  
                            
                        <input type="button" id="btnCargarFormValidar" onclick="validar()" name="btnCargarFormValidar" class="btn btn-secondary" value="Cargar formulario">
                        <input type="submit" id="btnCargarForm" name="btnCargarForm" class="btn btn-secondary" style="display: none;">
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}  
    <br>
    {% if porcentajeJusto %}
                    <div class="row justify-content-center">
                        <div class="alert alert-warning col-6 col-md-8" style="text-align: center; margin-top: 100px;margin-bottom: 30px; font-size: 1.5em;">
                            <strong>Atención!</strong> Ya no se pueden agregar mas evaluaciones, ya esta en su maximo de porcentaje permitido.
                        </div>
                  </div>
                <h4 style="text-align: center; padding-bottom: 350px;"><a href="{% url 'agregarEvaluacion' %}">Regresar</a></h4>
    {% endif %}
    {% if formSubActividad %} 

    <div class="offset-3 col-10">
    <form name="formSubActividad" method="POST" class="formAgregarEva" style="font-size: 1.2em;">
        {% csrf_token %}
                <br><small  class="form-text text-muted">
                  <b style="color:  #2980b9;">Datos generales pertinentes.</b>
                </small>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Codigo periodo: <b style="font-size: 1.1em;">{{ periodo }}</b> </label>
                        <input class="form-control" type="text" name="periodoPerteneciente" value ="{{ periodo }}" style="display: none;">
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label>Codigo actividad: <b style="font-size: 1.1em;">{{ actividad }}</b></label>
                        <input class="form-control" type="text" name="actividadPerteneciente" value = "{{ actividad }}" style="display: none;">
                    </div>
                        
                    </div>
        
                
                
                <div class="form-group col-md-6">
                    <label>Año lectivo:</label>

                    {% if anioLectivo %}
                        <input class="form-control" type="text" name="anioLectivo" value = "{{ anioLectivo.anio_lectivo }}" readonly>
                    {% endif %}
                </div>
                
                
                
            
                <div class="form-group col-md-6">
                    <label>Materia</label>
                
                    <select class="form-control" name="materia" style="text-align: center;">
                        <option>--Seleccione la materia--</option>
                        {% if materias %}
                            {% for materia in materias %}
                              <option value="{{ materia }}">{{ materia }}</option>
                            {% endfor %}
                        {% else %}
                            <option>No hay materias</option>
                        {% endif %}
                    </select>
                </div>
                
                <br><small  class="form-text text-muted">
                  <b style="color:  #2980b9;">Datos de la sub-actividad.</b>
                </small>
            
                <div class="form-group col-md-6">
                    <label>Codigo de la Sub Actividad:</label>
                    <input class="form-control" type="text" name="codigoSubActividad" placeholder="Ingrese el codigo de la subactividad">
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Porcentaje:</label>
                    <input class="form-control" type="text" name="porcentajeSubActividad" placeholder="Ingrese el porcentaje de la subactividad" pattern="(([0]\.[3][5])|([0]\.[0-2][0-9])|([0]\.[3][0-4]))">
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Descripcion:</label>
                    <input class="form-control" type="text" name="descripcionSubActividad" placeholder="Ingrese una descripcion de la subactividad">
                </div>
                
                <br><small  class="form-text text-muted">
                  <b style="color:  #2980b9;">Datos de la evaluación.</b>
                </small>
            
                
                <div class="form-group col-md-6">
                    <label>Codigo de la Evaluacion:</label>
                    <input class="form-control" type="text" name="codigoEvaluacion" placeholder="Ingrese el codigo de la evaluación">
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Nombre:</label>
                    <input class="form-control" type="text" name="nombreEvaluacion" placeholder="Ingrese el nombre de la evaluación">
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Descripcion:</label>
                    <input class="form-control" type="text" name="descripcionEvaluacion" placeholder="Ingrese una descripcion para la evaluación">
                </div>
                
        <input class="btn btn-primary" type="submit" name="btnGuardarSubActividad" value="Guardar"> 
        <input class="btn btn-secondary" type="button" name="clear" value="Cancelar" onclick="recargar();">
    </form>
      
    </div>
    {% endif %}  



    {% if formExamen %} 
    <div class="offset-3 col-10">
        <form name="formExamen" method="POST" class="formAgregarEva" style="font-size: 1.2em;">
        {% csrf_token %}

                <small  class="form-text text-muted">
                  <b style="color:  #2980b9;">Datos generales pertinentes.</b>
                </small>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Codigo periodo: <b style="font-size: 1.1em;">{{ periodo }}</b> </label>
                        <input class="form-control" type="text" name="periodoPerteneciente" value ="{{ periodo }}" style="display: none;">
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label>Codigo actividad: <b style="font-size: 1.1em;">{{ actividad }}</b></label>
                        <input class="form-control" type="text" name="actividadPerteneciente" value = "{{ actividad }}" style="display: none;">
                    </div>
                        
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Año lectivo:</label>
                    {% if anioLectivo %}
                        <input class="form-control" type="text" name="anioLectivo2" value = "{{ anioLectivo.anio_lectivo }}" disabled>
                    {% endif %}
                </div>
                
            
                <div class="form-group col-md-6">
                      <label>Materia</label>
                
                        <select class="form-control" style="text-align: center;">
                            <option>--Seleccione la materia--</option>
                            {% if materias %}
                                {% for materia in materias %}
                                  <option value="{{ materia }}">{{ materia }}</option>
                                {% endfor %}
                            {% else %}
                                <option>No hay materias</option>
                            {% endif %}
                        </select>
                </div>
              
                
            
                <div class="form-group col-md-6">
                    <label>Codigo del Examen:</label>
                    <input class="form-control" type="text" name="codigoExamen" placeholder="Ingrese el codigo del examen">
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Porcentaje:</label>
                    <input class="form-control" type="text" name="porcentajeExamen" placeholder="Ingrese el porcentaje que tendra el examen">
                </div>
                
            
                <div class="form-group col-md-6">
                    <label>Descripción:</label>
                    <input class="form-control" type="text" name="descripcionExamen" placeholder="Ingrese una descripción para el examen">
                </div>
                
        
        <input type="submit" class="btn btn-primary" name="btnGuardarExamen" value="Guardar"> 
        <input class="btn btn-secondary" type="button" name="clear" value="Cancelar" onclick="recargar();">
    </form>
    </div>
    {% endif %}
{% endif %}
<br><br>
<script type="text/javascript">
    function recargar() {
        var r = confirm("¿Esta seguro de cancelar el proceso para agregar nueva evaluación?");
        if (r) {
          location.href = "{% url 'agregarEvaluacion' %}"; 
        } else {
          
        }
    }


        $(document).ready(function(){
            $( "input[name='periodo']" ).on('click',function(){
                $.ajax({
                    url: '/into/servidorActividades/',
                    type:'GET',
                    contentType:'json',
                    data:{'codigo_periodo':$(this).val()},
                    success: function(data){
                        console.log(data);
                        var html = '<td class="tdAgregarEva">Seleccione la actividad:&nbsp;</td>';
                        
                        for (var i = 0; i < data.length; i++) {
                            html += '<td class="tdAgregarEva"><input type="radio" name="actividad" value="'+data[i].pk+'"><b>'+data[i].fields.nombre_actividad+'&nbsp;</b></td>';
                        }
                        
                        
                        if ($('#info').html() == "" ) {
                            $('#info').html(html);
                            
                        }else{
                            window.location.replace('.');
                        }
                    },
                    error: function(xhr, status, error){
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                    }
                });
            });
        });
        
    
</script>
{% endblock %}