{% extends 'base/base.html'%}
{% block title %} Materias {% endblock %}
{% block act_inicio %}{% endblock %}
{% block act_administrarMaterias %}active{% endblock %}
{% block content %}


		<br>
		<h2 class="text-center">Administrar Materias</h2>
		<a href="{% url 'agregarMateria' %}" class="btn btn-success">
	        <span class="fas fa-plus"></span> Agregar
	    </a>
	    <br>
	    <br>
	    		<div class="table-responsive">

				<thead class="table table-hover table-bordered">
					<tr class="table-success">
						<td class="font-weight-bold">Código</td>
						<td class="font-weight-bold">Nombre</td>
						<td class="font-weight-bold">Descripción</td>
						<td class="font-weight-bold">Objetivos</td>
						<td class="font-weight-bold">Acciones</td>
					</tr>
				</thead>
				
					{% if object_list %}
					{% for Materia in object_list %}
					<tbody>
					<tr class="text-justify">

				<table class="table table-hover table-bordered">
				<thead class="table-success">
					
						<th class="font-weight-bold">Código</th>
						<th class="font-weight-bold">Nombre</th>
						<th class="font-weight-bold">Descripción</th>
						<th class="font-weight-bold" >Objetivos</th>
						<th class="font-weight-bold" width="10%">Acciones</th>
					
				</thead>
				{% if object_list %}
				{% for Materia in object_list %}
				<tbody>
					

						<td>{{ Materia.codigo_materia }}</td>
						<td>{{ Materia.nombre_materia }}</td>
						<td>{{ Materia.descripcion_materia }}</td>
						<td>{{ Materia.objetivos }}</td>
						<td>
							<a class="btn" href="{% url 'editarMateria' Materia.pk %}">
								<span class="fas fa-pencil-alt"></span>
							</a>
							<a class="btn" href="{% url 'eliminarMateria' Materia.pk %}">
								<span class="fas fa-trash"></span>
							</a>

						</td>
					</tr>
					{% endfor %}
				</div>
					{% else %}
					<h2>No hay registros de Materias</h2>
					{% endif %}

						</td>				

				</tbody>
				{% endfor %}
				{% else %}
				<h2>No hay registros de Materias</h2>
				{% endif %}
				</table>
				</div>
{% endblock %}