{% extends 'base/base.html'%}
{% block title %} Materias {% endblock %}
{% block content %}

<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<br>
		<h2 class="text-center">Administrar Materias</h2>
		<a href="{% url 'agregarMateria' %}" class="btn btn-success">
	        <span class="fas fa-plus"></span> Agregar
	    </a>
	    <br>
	    <br>
	    
				<thead class="table table-hover border">
					<tr class="table-success text-center">
						<td class="font-weight-bold">Código</td>
						<td class="font-weight-bold">Nombre</td>
						<td class="font-weight-bold">Descripción</td>
						<td class="font-weight-bold">Objetivos</td>
						<td class="font-weight-bold">Acciones</td>
					</tr>
				</thead>
				<tbody>
					{% if object_list %}
					{% for Materia in object_list %}
					<tr class="text-justify">
						<td>{{ Materia.codigo_materia }}</td>
						<td>{{ Materia.nombre_materia }}</td>
						<td>{{ Materia.descripcion_materia }}</td>
						<td>{{ Materia.objetivos }}</td>
						<td>
							<a class="btn" href="{% url 'editarMateria' Materia.pk %}">
								<span class="fas fa-pencil-alt"></span>
							</a>
							<a class="btn" href="{% url 'eliminarMateria' Materia.pk %}">
								<span class="fas fa-trash"></span>
							</a>
						</td>
					</tr>
					{% endfor %}
					{% else %}
					<h2>No hay registros de Materias</h2>
					{% endif %}
				</tbody>
	</table>
</div>
{% endblock %}