{% extends 'base/base.html'%}
{% block title %} Agregar Materia {% endblock %}
{% block act_inicio %}{% endblock %}
{% block act_administrarMaterias %}active{% endblock %}
{% block content %}
<div class="container">
	<br><br>
	{% if not docentes and not materia %}
		<div class="row">
			<div class="col">
				<h2 style="text-align: center;">Agregar Materia</h2>
			</div>
			<div class="col">
				<h3 style="text-align: center;">Seleccione la Especialidad y El Año en que se impartira la Materia</h3>
			</div>
		</div>
	{% endif %}
	<form method="post">
	{% csrf_token %}
	<div class="row">
		
		<div class="row">
		
			<div class="col">
				
				<div class="form-group"">
					{%for element in form %} 
	                <div class="form-group"> 
	                    <label class="col-md-12 control-label">
	                        {{element.label}}            
	                    </label> 
	                    <div class="col-md-12"> 
	                        {{element}} 
	                        <div class="error">
	                            {{element.errors}}
	                        </div>
	                    </div> 
	                </div> 
	                {% endfor %}
				</div>
			</div>
		
			<div class="col">			
					{% if especialidad %}
					<div class="table-responsive">
					<table class="table table-hover" style="width: 600px;">
						<thead style="text-align: center;">
							<tr>
								<th scope="col">Especialidad</th>
								<th scope="col">Primer Año</th>
								<th scope="col">Segundo Año</th>
								<th scope="col">Tercer Año</th>
							</tr>
						</thead>
						<tbody style="align-items: center;">
							{% for esp in especialidad %}
							{% if esp.anios_especialidad == 3 %}	
							<tr  class="text-justify">
								<td>{{esp.nombre_especialidad}}&nbsp;&nbsp;&nbsp;</td>
								&nbsp;<td><input  type="radio" name="{{ esp.codigo_especialidad }}" value="1_{{ esp.codigo_especialidad }}"></td>
								<td><input type="radio" name="{{ esp.codigo_especialidad }}" value="2_{{ esp.codigo_especialidad }}"></td>
								<td><input type="radio" name="{{ esp.codigo_especialidad }}" value="3_{{ esp.codigo_especialidad }}"></td>
							</tr>
							{% endif %}
							{% if esp.anios_especialidad == 2 %}	
							<tr  class="text-justify">
								<td>{{esp.nombre_especialidad}}&nbsp;&nbsp;&nbsp;</td>
								<td><input type="radio" name="{{ esp.codigo_especialidad }}" value="1_{{ esp.codigo_especialidad }}"></td>
								<td><input type="radio" name="{{ esp.codigo_especialidad }}" value="2_{{ esp.codigo_especialidad }}"></td>
								<td></td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
					{% endif %}
			</div>
		</div>
		<div style="margin: 0 auto;">
			{% if docentes and materia %}
			<h2>Seleccione Los Docentes asignados a la Materia</h2>
			<br>
			<table class="table table-hover table-bordered" style="margin: 0 auto;">			
				<thead class="table table-hover table-bordered">
					<tr class="table-success">
						<td class="font-weight-bold">Nombre</td>
						<td class="font-weight-bold">Apellidos</td>
						<td class="font-weight-bold">Email</td>
						<td class="font-weight-bold">Asignar grupo</td>
					</tr>
				</thead>
				
				{% for docente in docentes %}
				<tbody>
					<tr class="text-justify">
						<td>{{docente.nombre_docente}}</td>
						<td>{{docente.apellidos_docente}}</td>
						<td>{{docente.email_docente}}</td>
						<td>
							<input type="checkbox" name="docente_{{ docente.dui_docente }}" onclick="cargar_grupos('{{ materia.codigo_materia }}', '{{ docente.dui_docente }}', '{{ docente.nombre_docente }}','{{ docente.apellidos_docente }}');">
						</td>
					</tr>
				</tbody>
				{% endfor %}
				<br>
				{% endif %}
			</table>
		</div>
			
	</div>
	
	<div class="offset-9 col-3">
		<br>
		{% if not docentes and not materia %}
		<button type="submit" class="btn btn-primary">Guardar</button>
		{% endif %}
		<a href="{% url 'administrarMaterias' %}" class="btn btn-warning">Volver a la lista</a> 
		<br>
	</div>
	
</form>
<button id="toglee" style="display: none;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Cargar</button>
<form method="POST">
	{% csrf_token %}
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Asignación de grupos - <i id="data_docente"></i></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div id="modal-body" class="modal-body">
	        <table class="table table-hover">
	        	<thead>
	        		<tr>
	        			<th scope="col">Codigo Especialidad</th>
	        			<th scope="col">Nivel</th>
	        			<th scope="col">Sección</th>
	        			<th scope="col"></th>
	        		</tr>
	        	</thead>
	        	<tbody id="tBody">
	        		
	        	</tbody>
	        </table>
	      </div>
	      <div class="modal-footer">
	        <button type="submit" name="guardarAsignaciones" class="btn btn-primary">Guardar asignación</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
</form>
<br>
</div>
<script type="text/javascript">
function cargar_grupos(codigo_materia, codigo_docente, nombre_docente, apellidos_docente) {
	var codigo_materia = codigo_materia;
	$(document).ready(function(){
		$.ajax({
			url: '/into/CargarGrupos/',
			type: 'GET',
			contentType: 'json',
			data: {codigo_materia:codigo_materia},
			success: function (data) {
				console.log(data);
				if (data != {}) 
				{
					var gruposHTML = '<input type="hidden" name="docente" value="'+codigo_docente+'">';
					gruposHTML += '<input type="hidden" name="materia" value="'+codigo_materia+'">' 
					for (var i = 0; i < data.length; i++) {
						gruposHTML += '<tr><td>'+data[i].fields.codigo_especialidad+'</td><td>'+data[i].fields.nivel_especialidad+'</td><td>'+data[i].fields.seccion+'</td><td><input type="checkbox" name="grupo_'+data[i].pk+'"> '+'</td></tr>';
					}
				}else{
					window.location.href = "{% url 'administrarMaterias' %}";
				}
				var data_docente = nombre_docente +' '+ apellidos_docente;
				$('#tBody').html(gruposHTML);
				$('#data_docente').html(data_docente);
				$('#toglee').click();
			},
			error: function (xhr, error, status) {
				window.location.href = "{% url 'administrarMaterias' %}";
			}
		});
	});	
}

</script>
{% endblock %}