{% extends 'base/base.html'%}
{% block title %} Eliminar Materia {% endblock %}
{% block act_inicio %}{% endblock %}
{% block act_administrarMaterias %}active{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="text-center">
		<br><br>
	<h2>¿Desea eliminar el registro de la Materia {{ materia.nombre_materia }}?</h2>
	<br><br>
	<button type="submit" class="btn btn-danger">Sí, eliminar</button>
	<a href="{% url 'administrarMaterias' %}" class="btn btn-warning">Cancelar</a> 
	</div>
</form>
<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<br>
		<h3>Detalle de Materia {{ materia.codigo_materia }}</h3>
		<br>
		<div class="table-responsive">
			<thead class="table table-hover table-bordered">
				<tr class="table-success">

					<td class="font-weight-bold">Nombre</td>
					<td class="font-weight-bold">Descripción</td>
					<td class="font-weight-bold">Objetivos</td>
				</tr>
			</thead>
			<tbody>
				<tr class="text-justify">	
					<td>{{ materia.nombre_materia }}</td>
					<td>{{ materia.descripcion_materia }}</td>
					<td>{{ materia.objetivos }}</td>
				</tr>
			</tbody>
		</div>
		<div class="table-responsive">
			<thead class="table table-hover table-bordered">
				<tr class="table-success">
					<td class="font-weight-bold">Especialidades en que se imparte</td>
					<td class="font-weight-bold">Docentes que la imparten</td>
					<td class="font-weight-bold">Grupos en que se imparte</td>
				</tr>
			</thead>
			<tbody>
				<tr class="text-justify">
					<td>
						
						{% for esp in especialidades %}
			            {{esp.nombre_especialidad}}
			            <br>
			            {% endfor %}

					</td>
					<td>
						
						{% for doc in docentes %}
			            {{doc.nombre_docente}} {{doc.apellidos_docente}}
			            <br>
			            {% endfor %}

					</td>
					<td>
						
						{% for grup in grupos %}
			            {{grup.codigo_grupo}}
			            <br>
			            {% endfor %}

					</td>
				</tr>
			</tbody>
		</div>

	</table>
</div>
{% endblock %}