{% extends 'base/base.html' %}

{% block mensaje %}
Generador de Datos Estadísticos
{% endblock %}

{% block content %}
                <!-- /. ROW  -->

<br>
<section id="s1">
    	

</section>
    <h2>RESULTADOS!</h2>
    <br>

<section id="s2">
<div class="row">
                <div class="col-md-6">
                  <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <b> Primeros Lugares</b>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sección</th>
                                            <th>Apellidos</th>
                                            <th>Nombres</th>
                                            <th>Promedio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1°B</td>
                                            <td>Bertalanfy</td>
                                            <td>Ackoff</td>
                                            <td>9.8</td>
                                        </tr>
      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     <!-- End  Kitchen Sink -->
                </div>
 				<div class="col-md-6">
                  <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Últimos Lugares</b>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                     <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sección</th>
                                            <th>Apellidos</th>
                                            <th>Nombres</th>
                                            <th>Promedio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1°B</td>
                                            <td>Bertalanfy</td>
                                            <td>Ackoff</td>
                                            <td>9.8</td>
                                        </tr>
      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     <!-- End  Kitchen Sink -->
                </div>
            </div>
                <!-- /. ROW  -->

</section>



<section id="s3">
    	

</section>

            
<br>
{% endblock %}