.bg-light {
    background-color: lavender;
  }
.h4
  {
      border-color: blue;
  }

.tableNotas {

font: 75%/1.5em arial, geneva, sans-serif;
border-collapse: collapse;

}

.tdNotas {
border-bottom: 8px solid #fff;
border-left: 1px dotted #fff;
border-right: 1px dotted #fff;
vertical-align: top;
padding: 20px;
border-style:groove;
}

.trNotas {
background: #fff; 
}
.tdPrimario{
  text-align: center;
}

#frmAgregarEva {
   width: 100%;
   border: 1px solid #000;
}
.trAgregarEva{
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
}

#btnCargarFormValidar{
  margin-top: 10px;
}

#msmSeleccionar{
  display: none;
}


.centrar-form{
     margin: 0;
     padding: 0;
     height: 100%;
}


/*Estadisticas Inicio*/
#s1{
  background-color:#d4e6f1;
}
#s1,#s2{
    width: 100%;
  max-width: 100%;
  margin: auto;
  border: 1px solid #000;
}
#s2{
  padding: 15px;
}
#s3{
      width: 80%;
  max-width: 100%;
  margin: auto;
  border: 1px solid #000;
    padding: 15px;
}

#ubicacionizquierda,#ubicacionderecha{
  width: 45%;
  height: 10%;
  padding: 1px;
  display: inline-block;
margin-left: 35px;
}
.datoselejidos{
  width: 250px;
}
.mar{
  padding: 5%;
}
#añ1{
  width: 100%;
  max-width: 40%;
  margin: auto;
  text-align: center;
}
.h5a{
  text-align: center;
}

legend{
  font-size: 20px;
}

#h41,#h42,#h43,#h44{
    border-bottom: 2px solid #b03a2e;
    color:  #1f618d;
    text-align: center;
}
.e1{
  height: 336px;
  width: 32.5%;
  display: inline-grid;
  background-color: #a9cce3 ;
  margin: auto;
  padding: auto;
  border: 2px solid #000;
  position: auto;
}
.e11{
    height: 116px;
  width: 32.5%;
  display: inline-grid;
  background-color: #a9cce3 ;
  margin: auto;
  padding: 1px;
  border: 2px solid #000;
}
.h5a{
  border-bottom: 3px solid crimson;
}
.f{
  display:inline-block;
    padding: 7px;
}s
.caja {
display: inline-grid;
   height:30px;
   overflow: hidden;
   width: 150px;
   position:relative;
   background-color:  #2471a3;
}/*
select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 150px;
}
select:focus{ outline: none;}

.caja::after{
  content:"\025be";
  display:table-cell;
  padding-top:7px;
  text-align:center;
  width:30px;
  height:30px;
  background-color:#d9d9d9;
  position:absolute;
  top:0;
  right:0px;  
  pointer-events: none;
}

*/
.btnform{
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
}

.btnsubmit,.btnreset{
  background-color: #EFEFEF;
  padding: .5rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #C8C8C8 .2rem;
  transition: all .5s;

}
.btnsubmit,.btnreset{
  width: 40%;
  border-bottom: none;
  background-color:  #1f618d ;
  color: white;
}
.btnreset{
  background-color: #b03a2e;

}
.btnsubmit:hover{
  background-color: #5499c7;
}
.btnreset:hover{
  background-color:  #ec7063 ;
}

/*Estadisticas Fin*/

/*Docentes Inicio*/
.error
{ 
	color: red; 
}

#materiasLista, #evaluacionesLista{
  margin: auto;
  padding-left: 30em;
  padding-top: 1em;
}

#materiaSelect, #evaluacionSelect{
  text-align: center;
  border: solid;
  border-color: #3498db;
}

.opt{
  font-size: 2em;
}


