.bg-light {
    background-color: lavender;
  }
.h4
  {
      border-color: blue;
  }

.tableNotas {

font: 75%/1.5em arial, geneva, sans-serif;
border-collapse: collapse;

}

.tdNotas {
border-bottom: 8px solid #fff;
border-left: 1px dotted #fff;
border-right: 1px dotted #fff;
vertical-align: top;
padding: 20px;
border-style:groove;
}

.trNotas {
background: #fff; 
}
.tdPrimario{
	text-align: center;
}

#frmAgregarEva {
   width: 100%;
   border: 1px solid #000;
}
.trAgregarEva{
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
}

#btnCargarFormValidar{
	margin-top: 10px;
}

#msmSeleccionar{
  display: none;
}


.centrar-form{
     margin: 0;
     padding: 0;
     height: 100%;
}
