{% extends 'base/base.html'%}
{% block title %} Administrar Notas {% endblock %}
{% block content %}
<hr/>
	<div class="hero-text text-center">
		<p>Administracion y correccion de notas</p>
	</div>
<hr/>
<div class= "container">
	<div class= "row">
		<section class="col-md-3">
			<div class= "container">
				<form method="POST">
					{% csrf_token %}
                    <div>
                        Nie                    
                    </div>
                    <input type="text" id="codAlumno" name="inputCodAlumno" required minlength="1" maxlength="7" placeholder="Codigo de Alumno" />                                                            
                    <br/><br/>
                    <div>
                        Codigo de materia                    
                    </div>
                    <input type="text" id="codMateria" name="inputCodMateria" required minlength="1" maxlength="5" placeholder="Codigo de materia" />
                    <br/><br/>
                    <div>
                        Codigo de Docente
                    </div>
                    <input type="text" id="codDocente" name="inputCodDocente" required minlength="1" maxlength="10" placeholder="Codigo de Docente" />
                    <br/>
                    <br/>
                    <button type= "submit" id= "btnConsultar" name= "btnConsultar"> Consultar </button>
					
                    
				</form>
			</div>		
		</section>
		<aside class="col-md-9 hidden-xs hidden-sm">
			<div class="table-responsive">
                <table class="table table-hover border">
                    <tr class="table-success text-center">
                        <th >Nie</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Codigo De especialidad</th>                                                    
                        <th>Materia</th>                        
                    </tr>                        
                    <tr class="text-center">
                        <td>{{AlumnoNie}}</td>                        
                        <td>{{nombre}}</td>
                        <td>{{apellidos}}</td>
                        <td>{{codigoEspecialidad}}</td>
                        <td>{{codigoMateria}}</td>                        
                    </tr>                        
        	    </table> 
                <hr/>
                <table class="table table-hover border">
                    <tr class="table-success text-center">
                        <th>Calificacion 1</th>
                        <th>Calificacion 2</th>
                        <th>Calificacion 3</th>
                        
                    </tr>                        
                    <tr class="text-center">
                        <td></td>                        
                        <td></td>
                        <td></td>
                        
                    </tr>                        
                </table> 
            </div> 
		<aside/>
	</div>	
<hr/>
</div>
	
	
{% endblock %}