{% extends 'base/base.html' %}
{% block content %}
<br>
<div class="row">
	<div class="col-md-2">
		<dt class="text-center">BUSQUEDA</dt>
		<hr>
		<hr>
		<dt>Selecione el Nivel</dt>
		<select name="nivel_especialidad" id="nivel" class="form-control">
			<option  value="0">Seleccione Opcion</option>
			<option  value="1">Primer Año</option>
			<option  value="2">Segundo Año</option>
			<option  value="3">Tercer Año</option>
		</select>
		<hr>
		<hr>
		<dt>Seleccione la Especialidad</dt>
		<select name="codigo_especialidad" id="especialidad" class="form-control">
				<option>Seleccione Opcion</option>				
		</select>
		<hr>
		<hr>
		<dt>Seleccione la Seccion</dt>
		<select name="seccion" id="seccion" class="form-control">
			<option >Seleccione Opcion</option>			
		</select>
		<hr>
		<hr>
		<dt>Docente Encargado</dt>
		<dd id="docente">-----------------</dd>
		<hr>
		<dt class="text-center"><a class="btn btn-primary" href="{% url 'crear_grado'%}">Crear Grado</a></dt>
	</div>
	<div class="col-md-10">
		
		<hr>
		<dt>Campos Obligatorios:</dt>
		<form action="" class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="NIE:">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Nombres:">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Apellidos:">
			</div>
			<div class="form-group">
				<select name="" id="" class="form-control">
					<option value="">Masculino</option>
					<option value="">Femenino</option>
				</select>
			</div>
		</form>
		<hr>
		<dt>Campos Opcionales:</dt>
		<form action="" class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Direccion">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Telefono:">
			</div>
			<div>
				<dt class="text-justify">Codigo de Grupo: 01</dt>
			</div>
			<button class="btn btn-danger ml-auto">Agregar Alumno</button>
		</form>
		<hr>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="table-success text-center">
					<th>#</th>
					<th>NIE</th>
					<th>Nombre</th>
					<th>Sexo</th>
					<th>Año de Ingreso</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Acciones</th>
				</thead>
				<tbody class="text-center">				
					
				</tbody>
			</table>
		</div>
	</div>	
</div>
<br>
<br>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
	$('#nivel').on('change',select_nivel);
	function select_nivel () {
		 var nivel = $('#nivel').val();
		 var especialidad = $('#especialidad').val();
		 $.ajax({
		 	data:{'nivel':nivel},
		 	url:'{% url "busqueda_especialidad" %}',
		 	type:'get',
		 	success:function(data) {
		 		var html="";
		 		var html2="<option>Seleccione Opcion</option>";
		 		html+='<option>Seleccione Opcion</option>';
		 		for(var i = 0; i<data.length; i++){
		 			html += '<option value="'+data[i].pk+'">'+data[i].fields.nombre_especialidad+'</option>';
		 		}		 		
		 		if (nivel==0) {
		 			html='<option>Seleccione Opcion</option>';
		 			html2='<option>Seleccione Opcion</option>';
		 		}
		 		$('#especialidad').html(html);
		 		$('#seccion').html(html2); 
		 	}
		 	
		 });
	}
	$('#especialidad').on('change',select_especialidad);
	function select_especialidad () {
		var nivel = $('#nivel').val();
		var especialidad = $('#especialidad').val();		
		$.ajax({
		 	data:{'especialidad':especialidad,'nivel':nivel},
		 	url:'{% url "busqueda_seccion" %}',
		 	type:'get',
		 	success:function(data) {
		 		var html="";		 		
		 		html+='<option>Seleccione Opcion</option>';
		 		for(var i = 0; i<data.length; i++){
		 			html += '<option value="'+data[i].pk+'">'+data[i].fields.seccion+'</option>';
		 		}		 		
		 		if (especialidad==0) {
		 			html='<option>Seleccione Opcion</option>';
		 		}
		 		$('#seccion').html(html); 
		 	}
		 	
		 }); 
	}
	$('#seccion').on('change',select_seccion);
	function select_seccion () {
		var nivel = $('#nivel').val();
		var especialidad = $('#especialidad').val();
		var seccion = $('#seccion').val();
		$.ajax({
		 	data:{'especialidad':especialidad,'nivel':nivel,'seccion':seccion},
		 	url:'{% url "busqueda_docente" %}',
		 	type:'get',
		 	success:function(data) {
		 		var html="";
		 		console.log(data)		 		
		 		html+='<dd>-----------------</dd>';
		 		for(var i = 0; i<data.length; i++){

		 			html += '<dd>--------'+data[i].fields.codigo_docente_encargado+'---------</dd>';
		 		}		 		
		 		if (especialidad==0) {
		 			html='<dd>-----------------</dd>';
		 		}
		 		$('#docente').html(html); 
		 	}
		 	
		 });
	}
</script>
{% endblock %}