{% extends 'base/base.html' %}
{% block title %}Alumnos{% endblock %}
{% block act_inicio %}{% endblock %}
{% block act_alumnos %}active{% endblock %}
{% block content %}
<br>
<div class="row">
	<div class="col-md-2">
		<dt class="text-center">BUSQUEDA</dt>
		<hr>
		<hr>
		<dt>Selecione el Nivel</dt>
		<select name="nivel_especialidad" id="nivel" class="form-control">
			<option  value="0">Seleccione Opcion</option>
			<option  value="1">Primer Año</option>
			<option  value="2">Segundo Año</option>
			<option  value="3">Tercer Año</option>
		</select>
		<hr>
		<hr>
		<dt>Seleccione la Especialidad</dt>
		<select name="codigo_especialidad" id="especialidad" class="form-control">
				<option value="0">Seleccione Opcion</option>				
		</select>
		<hr>
		<hr>
		<dt>Seleccione la Seccion</dt>
		<select name="seccion" id="seccion" class="form-control">
			<option value="0">Seleccione Opcion</option>			
		</select>
		<hr>
		<hr>
		<dt class="text-center">Docente Encargado</dt>
		<dd id="docente" class="text-center">-----------------</dd>
		<hr>
		<dt class="text-center"><a class="btn btn-primary" href="{% url 'crear_grado'%}">Crear Grado</a></dt>
	</div>
	<div class="col-md-10">
		
		<hr>
		<dt>Campos Obligatorios:</dt>
		<form action="" class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="NIE:">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Nombres:">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Apellidos:">
			</div>
			<div class="form-group">
				<select name="" id="" class="form-control">
					<option value="">Masculino</option>
					<option value="">Femenino</option>
				</select>
			</div>
		</form>
		<hr>
		<dt>Campos Opcionales:</dt>
		<form action="" class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Direccion">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nie">Nombre: </label>
				<input class="form-control" id="nie" type="text" placeholder="Telefono:">
			</div>
			<div class="ml-auto" >
				<dt>Codigo de Grupo: <div class="text-center" id="grupo_id">00</div></dt>
			</div>
			
			<button id="boton" class="btn btn-danger ml-auto" disabled>Agregar Alumno</button>
		</form>
		
		<hr>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="table-success text-center">
					<th>#</th>
					<th>NIE</th>
					<th>Nombre</th>
					<th>Sexo</th>
					<th>Año de Ingreso</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Acciones</th>
				</thead>
				<tbody class="text-center">				
					
				</tbody>
			</table>
			<h1 class="text-center">No Hay Datos</h1>
		</div>
	</div>	
</div>
<br>
<br>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">

	$('#nivel').on('change',select_nivel);
	function select_nivel () {
		var nivel = $('#nivel').val();
		var especialidad = $('#especialidad').val();
		
		$.ajax({
		 	data:{'nivel':nivel},
		 	url:'{% url "busqueda_especialidad" %}',
		 	type:'get',
		 	success:function(data) {
		 		var html="";
		 		var html2='<option value="0">Seleccione Opcion</option>';
		 		var html3='<dd>-----------------</dd>';
		 		html+='<option value="0">Seleccione Opcion</option>';
		 		for(var i = 0; i<data.length; i++){
		 			html += '<option value="'+data[i].pk+'">'+data[i].fields.nombre_especialidad+'</option>';
		 		}		 		
		 		if (nivel==0) {
		 			html='<option value="0">Seleccione Opcion</option>';
		 			html2='<option value="0">Seleccione Opcion</option>';
		 			html3='<dd>-----------------</dd>';
		 			$('#boton').attr("disabled", true);
		 			$('#grupo_id').html('00');
		 			
		 		}
		 		$('#boton').attr("disabled", true);	 		
		 		$('#grupo_id').html('00');
		 		$('#especialidad').html(html);
		 		$('#seccion').html(html2);
		 		$('#docente').html(html3);


		 	}		 	
		});
	}
	$('#especialidad').on('change',select_especialidad);
	function select_especialidad () {
		var nivel = $('#nivel').val();
		var especialidad = $('#especialidad').val();
		var seccion = $('#seccion').val();		
		$.ajax({
		 	data:{'especialidad':especialidad,'nivel':nivel},
		 	url:'{% url "busqueda_seccion" %}',
		 	type:'get',
		 	success:function(data) {
		 		var html="";		 		
		 		html+='<option value="0">Seleccione Opcion</option>';
		 		var html2='<dd>-----------------</dd>';
		 		for(var i = 0; i<data.length; i++){
		 			html += '<option value="'+data[i].pk+'">'+data[i].fields.seccion+'</option>';
		 		}		 		
		 		if (especialidad==0) {
		 			html='<option value="0">Seleccione Opcion</option>';
		 			html2='<dd>-----------------</dd>';
		 			$('#boton').attr("disabled", true);
		 			$('#grupo_id').html('00');
		 		}
		 		$('#boton').attr("disabled", true);
		 		$('#grupo_id').html('00');
		 		$('#seccion').html(html);
		 		$('#docente').html(html2); 
		 	}
		 	
		}); 
	}
	$('#seccion').on('change',select_seccion);
	function select_seccion () {
		var nivel = $('#nivel').val();
		var especialidad = $('#especialidad').val();
		var seccion = $('#seccion').val();
		
		$.ajax({
		 	data:{'especialidad':especialidad,'nivel':nivel,'seccion':seccion},
		 	url:'{% url "busqueda_docente" %}',
		 	type:'get',
		 	success:function(data) {
		 		var html="";		 		
		 		for(var i = 0; i<data.length; i++){
		 			html += '<dd class="text-center">'+data[i].fields.nombre_docente+" "+data[i].fields.apellidos_docente+'</dd>';
		 		}		 		
		 		if (seccion==0) {
		 			html+='<dd>-----------------</dd>';
		 			$('#boton').attr("disabled", true);
		 		}
		 		else {
		 			$('#boton').attr("disabled", false);
		 		}
		 		$('#docente').html(html); 
		 	}		 	
		});
		$.get({
			data:{'especialidad':especialidad,'nivel':nivel,'seccion':seccion},
		 	url:'{% url "busqueda_grupo" %}',
		 	
		 	success:function(data) {
		 		var html="";
		 				 		
		 		for(var i = 0; i<data.length; i++){

		 			html += data[i].pk;
		 		}		 		
		 		if (seccion==0) {
		 			html+='00';
		 			$('#boton').attr("disabled", true);
		 		}
		 		else {
		 			$('#boton').attr("disabled", false);
		 		}
		 		$('#grupo_id').html(html); 
		 	}
		});
	

	}
	$('#boton').on('click',select_grupo);
	function select_grupo () {
		var codigoGrupo=$('#grupo_id').text();
		console.log(codigoGrupo);
		$.ajax({
			
		});
	}
	
</script>
{% endblock %}