{% extends 'base/base.html'%}
{% block title %} Docentes {% endblock %}
{% block act_inicio %}{% endblock %}
{% block act_docentes %}active{% endblock %} 
{% block content %}
<br>
<br>    
     
        <div class="row"> 
            <section class="col-md-12">                
                <h4 class="text-center" >Administracion de Docentes</h4>
                <a href="{% url 'docente-new' %}" class="btn btn-success">
                    <span class="fas fa-plus"></span> Nuevo
                </a>
                <br><br>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr class="table-success ">
                            <th>DUI</th>
                            <th>Nombre</th>
                            <th>Fecha Nacimiento</th>
                            <th>Telefono</th>                            
                            <th>Email</th>
                            <th>Fecha Contratacion</th>
                            <!--<th>Direccion del docente</th>-->
                            <th>Acciones</th>
                        </tr>
                        {% for docente in object_list %}
                        <tr >
                            <td>{{ docente.dui_docente }}</td>
                            <td>{{ docente.nombre_docente }} {{ docente.apellidos_docente }}</td>
                            <td>{{ docente.fecha_nacimiento_docente}}</td>
                            {% if docente.telefono_docente|length > 0 %}
                            <td>{{ docente.telefono_docente }}</td>
                            {% else %}
                            <td>Sin Registro</td>
                            {% endif %}
                            <td>{{ docente.email_docente }}</td>
                            <td>{{ docente.fecha_contratacion_docente }}</td>                            
                            <!--<td>{{ docente.direccion_docente }}</td>>>-->
                            
                            <td>               
                                <a href="{% url 'docente_actualizar' docente.dui_docente %}" class="btn btn-default btn-xs">
                                    <span class="fas fa-pencil-alt"></span>
                                </a>
                            
                                <a href="{% url 'docente_detalle' docente.dui_docente %}" class="btn btn-default btn-xs">
                                <span class="fas fa-th-large"></span>
                                </a>
                                <a href="{% url 'docente-delete' docente.dui_docente %}" 
                                class="btn btn-default btn-xs">
                                <span class="fas fa-trash"></span>
                                </a>
                            </td>                          
                        </tr>
                        {% endfor %}
                    </table> 

                </div> 
                
            </section>
            <!--
            <aside class="col-md-3 hidden-xs hidden-sm">               
            <br> <br> <br> <br> 
                <div class="list-group"> 
                    <span href="" class="list-group-item active">Acciones</span> 
                    <a href="" class="list-group-item">Grados</a> 
                    <a href="" class="list-group-item">Materias</a>
                    <a href="" class="list-group-item">Estudiantes</a>                     
                </div>             
            </aside>-->
        </div>
    
{% endblock %}