{% extends 'base/base.html'%}
{% block title %} Administrar Notas {% endblock %}
{% block content %}
<hr/>
	<div class="hero-text text-center">
		<h3>Anotaciones y observaciones a alumnos</h3>
	</div>
<hr/>

<div class= "container">
	<div class= "row">
		<section class="col-md-12">
			<div class= "container">
				<form method="POST" name="form1">
					{% csrf_token %}
					<section class="col-md-4"></section>

                 	<div class="table-responsive">
		         		<tr>
		         			<td>
		         				<label>Nie de alumno :</label>	
		         			</td>
		         			<td>
		         				<input type="text" id="nie" name="inputNie" required minlength="1" maxlength="8" placeholder="Digitar nie" />		
		         			</td>
		         		</tr>  
		         		<button type="submit" class="btn btn-success" name = "btnConsultar" id="btnConsultar" onclick="anotacionNie(nie.value)">Buscar</button>              
		         		
		                <br/><br/>  
		                 
		                <script>
    					alert('{{ message }}');
						</script>                                                     
            		</div>
            		
                 	<table class="table table-hover border">
                    <tr class="table-success text-center">
                        <th>Nie</th>
                        <th>Nombres</th>
                        <th>Especialidad y seccion</th>                                                
                    </tr>                        
                    <tr class="text-center">                                            
                        <td>{{AlumnoNie}}</td>                        
                        <td>{{nombre}}</td>
                        <td></td>
                               
                    </tr>                        
                	</table>   					                    

				</form>
			</div>		
		</section>
		
	</div>

	
	<div class= "row">
		<section class="col-md-12">
			<div class= "container">				
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Descripcion</th>

                            </tr>
            	    </thead>
                    <tbody>
                        {%for x in Anot%}
                        <tr>
                            <td></td>
                            <td>{{x.fecha_anotacion}}</td>
                            <td>{{x.descripcion}}</td>
                                         
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>               				
        </section>
	</div>		
		
		
	

	




	<div class= "row">
		<section class="col-md-3">
		</section>	
		<section class="col-md-6">
			<div class= "container">
				<form method="POST" >
					{% csrf_token %}					
					<button type="button" class="btn btn-success" name = "btnAgregar" id="btnAgregar" onclick="AnotacionDesactivar()">Agregar</button>																																			
					<table>
						<thead>
                            <tr>
                            	<th>Nie</th>
                       			<th>{{form.nie}}</th>
                            </tr>                            
                            <br>
                            
                            <tr>
                            	<th>Fecha de anotacion</th>
                       			<th>{{form.fecha_anotacion}}</th>
                            </tr>
                            <br>                            
							
							<tr>
								<th>Describa su anotacion</th>
								<th>{{form.descripcion}}</th>                       			
                            </tr>                            							
                        </thead>
					</table>
					
					
					<button type="submit" class="btn btn-success" name = "btnGuardar" id="btnGuardar" disabled = "false">Guardar</button>				
				</form>
			</div>		
		</section>
		
	</div>
	<hr/>	
	<br/>
	
<hr/>
</div>


{% endblock %}